<table border="0" cellspacing="5" cellpadding="5">
        <tbody>
        <tr>
            <td>Minimum amount:</td>
            <td><input type="text" id="min" name="min"></td>
        </tr>
        <tr>
            <td>Maximum amount:</td>
            <td><input type="text" id="max" name="max"></td>
        </tr>
    </tbody>
</table>
<table id="example" class="display" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>Fiscal Year</th>
			<th>Type</th>
			<th>Organization</th>
			<th width = "40%">Project</th>
			<th>Amount</th>
			<th>Location</th>
			<th>Strategic Priority</th>
			<th>Strategic Results</th>
			<th>Total Served</th>
			<th>Native Hawaiians Served</th>
			<th>Status</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th>Fiscal Year</th>
			<th>Type</th>
			<th>Organization</th>
			<th width = "40%">Project</th>
			<th>Amount</th>
			<th>Location</th>
			<th>Strategic Priority</th>
			<th>Strategic Results</th>
			<th>Total Served</th>
			<th>Native Hawaiians Served</th>
			<th>Status</th>
		</tr>
	</tfoot>
	
	<tbody>
		<% @grants.each do |grant| %>
		
		<tr>
			<td><%= grant.fiscal_year %></td>
			<td><%= grant.grant_type %></td>
			<td><%= grant.organization %></td>
			<td width="40%"><%= grant.project %></td>
			<td><%= grant.amount %></td>
			<td><%= grant.location %></td>
			<td><%= grant.strategic_priority %></td>
			<td><%= grant.strategic_results %></td>
			<td><%= grant.total_served %></td>
			<td><%= grant.nh_served %></td>
			<td><%= grant.grantStatusID %></td>
		</tr>
		
	<% end %>	
	</tbody>
</table>

<script>
/* Custom filtering function which will search data in column four between two values */
$.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
        var min = parseInt( $('#min').val(), 10 );
        var max = parseInt( $('#max').val(), 10 );
        var amount = parseFloat( data[4] ) || 0; // use data for the amount column
 
        if ( ( isNaN( min ) && isNaN( max ) ) ||
             ( isNaN( min ) && amount <= max ) ||
             ( min <= amount   && isNaN( max ) ) ||
             ( min <= amount   && amount <= max ) )
        {
            return true;
        }
        return false;
    }
);
 
$(document).ready(function() {
    var table = $('#example').DataTable();
     
    // Event listener to the two range filtering inputs to redraw on input
    $('#min, #max').keyup( function() {
        table.draw();
    } );
} );
</script>