<table id="example" class="display" cellspacing="0">
	<thead>
		<tr>
			<th width="20%">Strategic Priority</th>
			<th width="25%">Amount: Organization</th>
			<th width="10%">Fiscal Year</th>
			<th width="25%">Strategic Results</th>
			<th width="20%">Grant Type</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</tfoot>
	
	<tbody>
		<% @grantData.each do |grant| %>	
		<tr>
			<td width="20%"></td>
			<td width="25%"><%= number_to_currency(grant.amount) %>: <%= grant.orgLocation %></td>
			<td width="10%"><%= grant.fiscal_year %></td>
			<td><%= grant.strategic_priority %></td>
			<td width="20%"><%= grant.grant_type %></td>
			<td width="25%"><%= grant.strategic_results %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<script>
     
$(document).ready(function() {
    var table = $('#example').DataTable({
        "columnDefs": [
            { "visible": false, "targets": 5 }
        ],
		"columns":[
		 {
                "className":      'details-control',
                "orderable":      false,
                "data":           null,
                "defaultContent": ''
            }
		],
        "order": [[ 5, 'asc' ]],
        "paging": false,
        "lengthChange": false,
        "drawCallback": function ( settings ) {
            var api = this.api();
            var rows = api.rows( {page:'current'} ).nodes();

            var last=null;
 
            var groupadmin = []; 
 
            api.column(5, {page:'current'} ).data().each( function ( group, i ) {

                if ( last !== group ) {
  
                    $(rows).eq( i ).before(
                        '<tr class="group" id="'+i+'"><td colspan="6">'+group+'</td></tr>'
                    );
                    groupadmin.push(i);
                    last = group;
                }
            } );
            for( var k=0; k < groupadmin.length; k++){
				  // Code added for adding class to sibling elements as "group_<id>"  
                  $("#"+groupadmin[k]).nextUntil("#"+groupadmin[k+1]).addClass(' group_'+groupadmin[k]); 
                  // Code added for adding Toggle functionality for each group
                  $("#"+groupadmin[k]).click(function(){
                  	var gid = $(this).attr("id");
                	$(".group_"+gid).slideToggle(300);
                  });
                 
            }
            this.api().columns([2,3,4]).every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );   
        }
    } );  
 $('#example tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child( format(row.data()) ).show();
            tr.addClass('shown');
        }
    } );
	
} );

</script>

