<div id="stacked" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div style="text-align:center">
	<button id="stacked-results" class="mui-btn mui-btn--raised mui-btn--primary mui-btn--small">By Strategic Result</button>
	<button id="stacked-priority" class="mui-btn mui-btn--raised mui-btn--primary mui-btn--small">By Strategic Priority</button>
	<button id="toggle-stacked" class="mui-btn mui-btn--raised mui-btn--primary mui-btn--small">Stacked Chart</button>
	<button id="toggle-grouped" class="mui-btn mui-btn--raised mui-btn--primary mui-btn--small">Grouped Chart</button>
</div>
<script>

var stackedChart = Highcharts.chart('stacked', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Grant Money Awarded Per Year, by Strategic Result'
    },
    xAxis: {
        categories:  <%= raw @uYears %> 
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Grant Money'
        },
        stackLabels: {
            enabled: false,
            style: {
                fontWeight: 'bold',
                color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
            }
        }
    },
    legend: {
        align: 'right',
        x: -30,
        verticalAlign: 'top',
        y: 25,
        floating: true,
        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
        borderColor: '#CCC',
        borderWidth: 1,
        shadow: false
    },
	exporting: { buttons: { contextButton: {
		menuItems: [{
		textKey: 'printChart',
		onclick: function () {
			this.print();
		}
	}, {
		separator: true
	}, {
		textKey: 'downloadPNG',
		onclick: function () {
			this.exportChart();
		}
	}, {
		textKey: 'downloadJPEG',
		onclick: function () {
			this.exportChart({
				type: 'image/jpeg'
			});
		}
	}, {
		textKey: 'downloadSVG',
		onclick: function () {
			this.exportChart({
				type: 'image/svg+xml'
			});
		}
	}]
}}},
    
    tooltip: {
        
        headerFormat: '<b>{point.x}</b><br/>',
		pointFormat: '{series.name}: ${point.y:,.0f}'

    },
    plotOptions: {
        column: {
            dataLabels: {
                enabled: false,
                color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
            }
        }
    },
    series: [
	<% index = 0
	while index < @uResults.length - 1%>
		{
			name: '<%= raw @uResults[index] %>',
			data: <%= raw @amountPerYearByResults[index] %>
	    },
		<% index = index + 1 %>
	<% end %>
	{
        name: '<%= raw @uResults[index] %>',
        data: <%= raw @amountPerYearByResults[index] %>
    }
	]
});

$('#stacked-results').click(function () {
stackedChart.update({
       title: {
        text: 'Grant Money Awarded Per Year, by Strategic Result'
		}
    });
	
	var newSeries = [
	<% index = 0
	while index < @uResults.length - 1%>
		{
			name: '<%= raw @uResults[index] %>',
			data: <%= raw @amountPerYearByResults[index] %>
	    },
		<% index = index + 1 %>
	<% end %>
	{
        name: '<%= raw @uResults[index] %>',
        data: <%= raw @amountPerYearByResults[index] %>
    }
	];
	
	for (var i = stackedChart.series.length-1; i>=0; i--) {
            stackedChart.series[i].remove();
        }
         for (var y = 0; y < newSeries.length; y++) {
            stackedChart.addSeries(newSeries[y]);
        }
		
	stackedChart.redraw();
});

$('#stacked-priority').click(function () {
stackedChart.update({
       title: {
        text: 'Grant Money Awarded Per Year, by Strategic Priority'
		}
    });
	
	var newSeries = [
	<% index = 0
	while index < @uPriorities.length - 1%>
		{
			name: '<%= raw @uPriorities[index] %>',
			data: <%= raw @amountPerYearByPriority[index] %>
	    },
		<% index = index + 1 %>
	<% end %>
	{
        name: '<%= raw @uPriorities[index] %>',
        data: <%= raw @amountPerYearByPriority[index] %>
    }
	]
	
	for (var i = stackedChart.series.length-1; i>=0; i--) {
            stackedChart.series[i].remove();
        }
        for (var y = 0; y < newSeries.length; y++) {
            stackedChart.addSeries(newSeries[y]);
        }
		
	stackedChart.redraw();
	
});
$('#toggle-stacked').click(function () {
stackedChart.update({
plotOptions: {
        column: {
            stacking: 'normal',
            dataLabels: {
                enabled: false,
                color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
            }
        }
    },   
	tooltip: {
        headerFormat: '<b>{point.x}</b><br/>',
        pointFormat: '{series.name}: ${point.y:,.0f}<br/>Total: ${point.stackTotal:,.0f}',

    }
});
stackedChart.redraw();
});


$('#toggle-grouped').click(function () {
stackedChart.update({
	plotOptions: {
        column: {
            stacking: null,
            dataLabels: {
                enabled: false,
                color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
            }
        }
    },
	    tooltip: {
        headerFormat: '<b>{point.x}</b><br/>',
        pointFormat: '{series.name}: ${point.y:,.0f}',

    },
});
stackedChart.redraw();
});
</script>