<!-- Give ability to style output of pdf and render highcharts -->
<script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<%= wicked_pdf_stylesheet_link_tag "pdf" -%>

<div id="pdf">
	<h2>Executive Summary of OHA Grant Allocation as of <%= Time.now.strftime("%m/%d/%Y") %></h2>
	<div id="row">
		<div class="rollup-card rt-border bt-border">
			<p>
				$<%= number_to_human(@award_amount, precision:3) %><br/>
				<span>Total Awarded</span>
			</p>
		</div>
		<div class="rollup-card rt-border bt-border">
			<p>
				<%= @grant_count %><br/>
				<span>Total Projects</span>
			</p>	
		</div>
		<div class="rollup-card bt-border">
			<p>
				<%= @grant_count - @inProgress %><br/>
				<span>Grants Funded</span>
			</p>
		</div>
	</div>
	<div id="row" class="padding">
		<div class="rollup-card rt-border">
			<p>
				<%= number_with_delimiter(@served[0].first) %><br/>
				<span>Native Hawaiins Served</span>
			</p>	
		</div>
		<div class="rollup-card rt-border">
			<p>
				<%= number_with_delimiter(@served[0].second) %><br/>
				<span>Total Served</span>
			</p>
		</div>
		<div class="rollup-card">
			<p>
				<%= @inProgress %><br/>
				<span>Grants In-Progress</span>
			</p>
		</div>
	</div>
	<div id="top-chart">
		<div id="container1"></div> 
	</div>
	<div id="bottom-chart">
		<div id="container2"></div> 
	</div>
</div>


<script>
Highcharts.chart('container1', {
    chart: {
        type: 'area'
    },
    title: {
        text: 'Historic Grant Spending by Strategic Priority ',
		useHTML: true
    },
    
    xAxis: {
        categories: <%= raw @uYears %>,
        tickmarkPlacement: 'on',
        title: {
            enabled: false
        }
    },
    yAxis: {
        title: {
            text: 'Funding'
        },
        labels: {
            formatter: function () {
                if(this.value == 0){ 
				return '$' + this.value / 1000000;
				}
				else {
				return '$' + this.value / 1000000 + ' million';
				}
            }
        }
    },
      tooltip: {
	  split: true,
        pointFormat: '{series.name}: <b>${point.y:,.0f}<br/>'
    },
    plotOptions: {
        area: {
            stacking: 'normal',
            lineColor: '#666666',
            lineWidth: 1,
            marker: {
                lineWidth: 1,
                lineColor: '#666666'
            }
        },
		series: { animation: false,
            dataLabels: {
                enabled: false
            }
        }
    },
    series: [
	<% index = 0
	while index < @uPriorities.length - 1%>
		{
			name: '<%= raw @uPriorities[index] %>',
			data: <%= raw @amountPerYearByPriority[index] %>
		},
		<% index = index + 1 %>
	<% end %>
	{
		name: '<%= raw @uPriorities[index] %>',
		data: <%= raw @amountPerYearByPriority[index] %>
	}
	]
});

Highcharts.chart('container2', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Grant Money Awarded Per Year, by Strategic Result'
    },
    xAxis: {
        categories:  <%= raw @uYears %> 
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Grant Money'
        },
        stackLabels: {
            enabled: false,
            style: {
                fontWeight: 'bold',
                color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
            }
        }
    },
    legend: {
        align: 'right',
        x: -30,
        verticalAlign: 'top',
        y: 25,
        floating: true,
        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
        borderColor: '#CCC',
        borderWidth: 1,
        shadow: false
    },
    
    tooltip: {
        
        headerFormat: '<b>{point.x}</b><br/>',
		pointFormat: '{series.name}: ${point.y:,.0f}'

    },
    plotOptions: {  
        column: {animation: false,
            dataLabels: {
                enabled: false,
                color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
            }
        }
    },
    series: [
	<% index = 0
	while index < @uResults.length - 1%>
		{
			name: '<%= raw @uResults[index] %>',
			data: <%= raw @amountPerYearByResults[index] %>
	    },
		<% index = index + 1 %>
	<% end %>
	{
        name: '<%= raw @uResults[index] %>',
        data: <%= raw @amountPerYearByResults[index] %>
    }
	]
});
</script>