<!--<p id="flashNotice"><%#= notice %></p>-->

<% if @grants.present? %>
	<div id="dashboard-rollup" data-step="1" data-intro="This dashboard is a quick rollup of stats.">
		<%= render 'cardRollup' %>
	</div>
	<div id="chart-area"> 
		<!-- load drill-down chart -->
		<div id="drill-down-chart">
			<%= render 'drillDownChart' %>
		</div>
		
		<!-- load line chart -->
		<div id="line-stack-chart">
			<%= render 'lineChart' %>
		</div>
		<!-- load stacked chart -->
		<div id="stacked-chart">
			<%= render 'stackedChart' %>
		</div>
		
	</div>
	
	<!-- load data table -->
	<%= render 'dataTable' %>	
	
	<!-- faq area -->
	<%= render 'faqArea' %>	

<% else %>	
<% end %>

<!-- uncomment this to run console on the page-->
<%#= console %>

<!-- Step Order for Help 
1. rollup
2. drilldown
3. drill opti
4. data table
5. faq
-->