<% if flash[:notice] %>
	<p id="flashNotice"><%= notice %></p>
<% end %>

<%= link_to 'New Grant', new_grant_path %><br/>

<% if @grants.present? %>
	<%= link_to 'Export All Data', grants_url(format: "xls") %> | <%= link_to "View PDF Report", grants_path(@grants, :format => :pdf) %> | <%= link_to 'Delete All Data', kill_grants_url, :method => :delete %><br/>

	<h3>DB Sample Queries</h3>
	There are currently <b><%= @grant_count %></b> records in the Database!<br/>
	Year Count <b><%= @year_count %></b><br/>
	Grant Type Count <b><%= @grant_type_count %></b><br/>
	Strategic Priority Count <b><%= @strategic_priority_count %></b><br/> 
	Strategic Results Count <b><%= @strategic_results_count %></b><br/>
	Location Count <b><%= @location_count %></b><br/>
	<br/>

	<h3>Random Static Chart Examples</h3>	
	<!-- load drill-down chart -->
	<%= render 'drillDownChart' %>
	
	<!-- load stacked chart -->
	<%= render 'stackedChart' %>
	
	<!-- load grouped bar chart -->
	<%= render 'groupedBarChart' %>

	<!-- load stacked grouped bar chart -->
	<%= render 'stackedGroupedBarChart' %>
	
	<!-- load bar chart with options -->
	<%= render 'barChartOptions' %>
	
<% else %>	
<% end %>

<br/><h2>All Data</h2>
<!-- spit out data block -->
<% @grants.each do |grant| %>
	Fiscal Year: <%= grant.fiscal_year %><br/>
	Grant type: <%= grant.grant_type %><br/>
	Organization: <%= grant.organization %><br/>      
	Project: <%= grant.project %><br/>      
	Amount: <%= grant.amount %><br/>      
	Location: <%= grant.location %><br/>     
	Strategic priority: <%= grant.strategic_priority %><br/>       
	Strategic results: <%= grant.strategic_results %><br/>        
	Total served: <%= grant.total_served %><br/>    
	Nh served: <%= grant.nh_served %><br/>       
	Grantstatusid: <%= grant.grantStatusID %><br/>
	
	<%= link_to 'Show', grant %>
	<%= link_to 'Edit', edit_grant_path(grant) %>
	<%= link_to 'Destroy', grant, method: :delete, data: { confirm: 'Are you sure?' } %><br/><br/>
<% end %>

<script>
	$("#flashNotice").fadeOut(3000);
</script>

<!-- uncomment this to run console on the page-->
<%#= console %>