<p id="flashNotice"><%= notice %></p>

<h2>Mass Upload</h2>
<%= render 'massUpload' %><br/>

<% if @grants.present? %>
	<%= link_to 'Export All Data', grants_url(format: "xls") %> | <%= link_to "View PDF Report", grants_path(@grants, :format => :pdf) %> | <%= link_to 'Delete All Data', kill_grants_url, :method => :delete %><br/>

	<h2>DB Sample Queries</h2>
	There are currently <b><%= @grant_count %></b> records in the Database!<br/>
	Year Count <b><%= @year_count %></b><br/>
	Grant Type Count <b><%= @grant_type_count %></b><br/>
	Strategic Priority Count <b><%= @strategic_priority_count %></b><br/> 
	Strategic Results Count <b><%= @strategic_results_count %></b><br/>
	Location Count <b><%= @location_count %></b><br/>
	<br/>

	<h2>DataTable Example</h2>
	<!-- load data table -->
	<%= render 'dataTable' %>	

	<h2>Random Static Chart Examples</h2>	
	<!-- load drill-down chart -->
	<%= render 'drillDownChart' %>
	
	<!-- load stacked chart -->
	<%= render 'stackedChart' %>
	
	<!-- load grouped bar chart -->
	<%= render 'groupedBarChart' %>

	<!-- load stacked grouped bar chart -->
	<%= render 'stackedGroupedBarChart' %>
	
	<!-- load bar chart with options -->
	<%= render 'barChartOptions' %>

<% else %>	
<% end %>

<script>
	$("#flashNotice").fadeOut(3000);
</script>

<!-- uncomment this to run console on the page-->
<%#= console %>