<p id="notice"><%= notice %></p>

<p>
  <strong>Fiscal year:</strong>
  <%= @grant.fiscal_year %>
</p>

<p>
  <strong>Grant type:</strong>
  <%= @grant.grant_type %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @grant.organization %>
</p>

<p>
  <strong>Project:</strong>
  <%= @grant.project %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @grant.amount %>
</p>

<p>
  <strong>Location:</strong>
  <%= @grant.location %>
</p>

<p>
  <strong>Strategic priority:</strong>
  <%= @grant.strategic_priority %>
</p>

<p>
  <strong>Strategic results:</strong>
  <%= @grant.strategic_results %>
</p>

<p>
  <strong>Total served:</strong>
  <%= @grant.total_served %>
</p>

<p>
  <strong>Nh served:</strong>
  <%= @grant.nh_served %>
</p>

<p>
  <strong>Grantstatusid:</strong>
  <%= @grant.grantStatusID %>
</p>

<%= link_to 'Edit', edit_grant_path(@grant) %> |
<%= link_to 'Back', grants_path %>
