<!DOCTYPE html>
<html>
	<head>
	<title>Tester</title>
	<%= csrf_meta_tags %>
	
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/drilldown.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
	
	</head>
	
	<body>
		<!--nav bar -->
		<nav class="navbar">		  
			<h1 class="logo">
			<%= link_to root_path do %>
  			  	OHA Data Visualizer<svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="#f6f6f6" d="M21,11H13V3A8,8 0 0,1 21,11M19,13C19,15.78 17.58,18.23 15.43,19.67L11.58,13H19M11,21C8.22,21 5.77,19.58 4.33,17.43L10.82,13.68L14.56,20.17C13.5,20.7 12.28,21 11,21M3,13A8,8 0 0,1 11,5V12.42L3.83,16.56C3.3,15.5 3,14.28 3,13Z" /></svg>
  			<% end %>
  			</h1>
			<ul class="nav">
			  <li><a href="#">Data Table</a></li>
			  <li><a href="#">Graphs</a></li>
			  <li><a href="#">Sync</a></li>
			</ul>
			<ul class="nav nav-right">
			  <li>
			  	<a href="#">
			  		Help<svg style="width:18px;height:18px" viewBox="0 0 24 24"><path fill="#f6f6f6" d="M11,18H13V16H11V18M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,6A4,4 0 0,0 8,10H10A2,2 0 0,1 12,8A2,2 0 0,1 14,10C14,12 11,11.75 11,15H13C13,12.75 16,12.5 16,10A4,4 0 0,0 12,6Z" /></svg>
			  	</a>
			  </li>
			</ul>		  
		</nav><!--/nav bar-->
		<div id="main-content">
    		<%= yield %>
    	</div>
  </body>
</html>
